{% extends "layout.html" %}
{% block content %}
    <div class="row">

        <div class="grid-margin stretch-card col-md-6">
            <div class="panel">
                <div class="panel-body">

                    <h4 class="panel-title mb-1">修改密码</h4>
                    <form class="forms-sample" id="changepasswd_form" method="post" action="javascript:void(0)">
                        <div class="form-group">

                            <input type="password" class="form-control" name="password" placeholder="原始密码">
                        </div>
                        <div class="form-group">
                            {% csrf_token %}

                            <input type="password" class="form-control" name="new-password"
                                   placeholder="新密码">
                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control" name="new-password2"
                                   placeholder="确认新密码">
                        </div>


                        <button type="submit" class="btn btn-primary mr-2">提交修改</button>
                        <button class="btn btn-dark" type="reset">取消</button>
                    </form>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
{% block script %}


    <script type="text/javascript">
        $(function () {

            $(".mr-2").click(function () {
                var password = $("input[name='password']").val();
                var new_password = $("input[name='new-password']").val();
                var new_password2 = $("input[name='new-password2']").val();
                var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

                if (password == "" || new_password == "" || new_password2 == "") {

                    noty({
                        text: "输入密码不能为空",
                        layout: 'topRight',
                        type: 'alert-danger'
                    });
                    return false;
                } else if (new_password != new_password2) {
                    noty({
                        text: "两次密码不一致",
                        layout: 'topRight',
                        type: 'alert-danger'
                    });
                    return false;
                } else {
                    $.ajax({
                        url: "/changepwd",
                        type: "post",
                        data: {
                            password: password,
                            new_password: new_password,
                            csrfmiddlewaretoken: csrfmiddlewaretoken,
                            new_password2: new_password2
                        }, dataType: "json",
                        success: function (data) {
                            if (data.code == 200) {
                                noty({
                                    text: data.msg,
                                    layout: 'topRight',
                                    type: 'alert-info'
                                });
                                $("#changepasswd_form").trigger("reset");
                                window.location.reload();

                            } else {
                                noty({
                                    text: data.msg,
                                    layout: 'topRight',
                                    type: 'alert-danger'
                                });
                            }
                        }
                    })
                }


            })


        });


    </script>
{% endblock %}